<% @subscriber ||= Spree::Subscriber.new %>
<%= form_for @subscriber, :url => :madmimi_subscribe, :html => { :id => "newsletter_form2" } do |f| %>
  <div class="subscriber_profile">
  	<%= f.hidden_field :profile, :value => "Me Interessa Comprar e Vender" %>
    <b>Tenho interesse em:</b>
    <input type="checkbox" id="usertype_buyer" name="usertype_buyer" value="Me Interessa Apenas Comprar" checked="checked"><label for="usertype_buyer">Comprar</label>
    <input type="checkbox" id="usertype_seller" name="usertype_seller" value="Me Interessa Apenas Vender" checked="checked"><label for="usertype_seller">Vender</label>
  </div>
  <%= f.email_field :email, :placeholder => t("spree.madmimi.subscription_email_placeholder"), :id => 'subscribe_email' %>
  <%= f.submit t("spree.madmimi.subscription_submit_button"), :class => 'submit', :id => 'op_subscribe' %>
<% end %>

<% content_for :script do %>
<script type="text/javascript">
<!--
$("#newsletter_form2 input[type=checkbox]").on("change", function(){
  if($(this).is(":checked")){
    if($(this).siblings("input[type=checkbox]").first().is(":checked")){
      $("#newsletter_form2 #subscriber_profile").val("Me Interessa Comprar e Vender");
    } else {
      $("#newsletter_form2 #subscriber_profile").val($(this).val());
    }
  } else {
    if($(this).siblings("input[type=checkbox]").first().is(":checked")){
      $("#newsletter_form2 #subscriber_profile").val($(this).siblings("input[type=checkbox]").first().val());
    } else {
      alert("Pelo menos um deve estar selecionado!");
      $(this)[0].checked = true;
    }
  }
});
-->
</script>
<% end %>